<div class="container-fluid mt-5 about-style" id="aboutId">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <h1 class="text-center main-heading">AbOuT Us</h1>
                <p class="text-center sub-heading">GrOw YoUr BuSiNeSs WiTh Us</p>
                <div class="row">
                    {{!-- left --}}
                    <div class="col-md-6 col-12 hero-text">
                        <figure>
                            <img src="images/about.svg" alt="Grow Image" class="img-fluid">
                        </figure>
                    </div>
                    {{!-- right --}}
                    <div class="col-md-6 mt-5 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                        <h1>We ArE tHe PrOfEsSiOnAl DeVeLoPeRs</h1>
                        <p>WeLcOmE tO <span class="bold-style">WeVes Web</span>, YoUr NuMbEr OnE sOuRcE fOr AlL tHiNgS, wE'rE dEdIcAtEd To GiViNg YoU tHe VeRy BeSt Of WoRk, WiTh A fOcUs On  [ThReE cHaRaCtErIsTiCs, Ie: DePeNdAbIlItY, cuStOmEr sErViCe, AnD uNiQuEnEsS. ]</p>
                        <button class="btn-style btn-primary">ReAd MoRe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>